@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat&display=swap');

* {
    font-family: 'Audiowide', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fece90d5;
}

h1{
    color: #024383;
}

#principal{
    background-color: #89ccfc9a;
    width: 288px;
    height: 321px;
}
#visor {
    background-color: white;
    width: 250px;
    height: 62px;
}